<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RollDice Random number</title>
</head>
<body>

    <!-- passing Data from DataBase to EJS -->

    <h1>Dice gave value: <%= 2+8+2 %> </h1>
    <h1>Dice gave value: <%= num %> </h1>

    <% if(num == 6) { %>
        <h2>Nice! Roll dice again.</h2>
    <% } %>
</body>
</html>


  <!-- <h3>Accounts that follow you : </h3>
    <ul>
        <% for( let name of followers){ %>
        <li> <%= name %> </li>
        <% } %>
    </ul>
     -->