<%- include("includes/head.ejs") %>
<body>

    <!-- passing Data from DataBase to EJS -->

    <h1>Dice gave value: <%= 2+8+2 %> </h1>
    <h1>Dice gave value: <%= num %> </h1>

    <% if(num == 6) { %>
        <h2>Nice! Roll dice again.</h2>
    <% } %>


    <%- include("includes/footer.ejs") %>
</body>
</html>


 